
div {
    padding-top: 30px;
    margin-top: 20px;
    color: white;
    text-align: left;
    padding-left: 20px;
}

form {
    border: 3px solid white;
    width: 400px;
    height: 400px;
    margin-top: 100px;
    border-radius: 10px;
    font-size: 20px;
} 

label{
    color: black;
    font-size: 40px;
    margin-left: 260px;
    
}

input {
    position: absolute;
    left: 500px;
    border-radius: 5px;
    width: 300px;
}

#sub {
    margin-left: 40px;
    color: white;
    background-color: rgb(110, 110, 255, 0);
    width: 100px;
    height: 20px;
    border-color: white;
}

output {
    position: relative;
    left: 250px;
}

