header{
    background: green;
    text-align: center;
    font-size:70px;
}
nav{
    margin-top:0.5%;
    padding-top:10px;
    padding-left:200px;
    padding-bottom:10px;
    background-color:lavender;
    font-size:50px;
}
nav a{
    background-color: rgb(93, 90, 255);
    color:rgb(255, 250, 250);
    padding: 5px;
    text-decoration: none;
}
section{
    background-color: rgb(255, 196, 0);
    color:rgb(255, 250, 250);
    padding: 5px;
    margin-top:0.5%;
    font-size:70px;
}
article{
    background-color: rgb(255, 136, 0);
    color:rgb(255, 250, 250);
    padding: 150px;
    font-size:60px;
}
article img{
    width: 950px;
    height: 450px;
}
footer{
    position: static;
    margin: 0.5%;
    background:red;
    text-align:center;
    font-size:70px;
    
}